@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
h1 {
	font-size: 2.7rem;
}
li,
button,
label,
input,
p {
font-size: 1.8rem;
}
h2 {
font-size: 2.8rem;
}
h3 {
font-size: 2.5rem;
font-weight: normal;
}
h4,
h5 {
font-size: 2.3rem;
}
a {
	cursor: pointer;
color: white;
text-decoration: none;
}

.text-center {
    text-align: center;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 0px solid #FFFFFF;
	color: #ffffff;
	transition: all 0.3s linear;
	background: #B59283;
	/* border: 2px solid #B59283; */
	text-shadow: 0px 3px 3px rgba(0,0,0,0.9);
}
.button:hover {
	background-color: #B59283;
	color: rgb(255, 255, 255);
	cursor: pointer;
}
.hidden {
	display: none;
}
  
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Navigation */

.mini-header {
	background-color: #B59283;
	min-height: 2vh;
	z-index: 3;
}
.navbar {
	width: 100%;
	height: 11vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	background-color: #B59283;
	/* border-bottom: 2px solid #B59283; */
	font-family: 'Changa', sans-serif;
}

.sticky-navbar {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 5;
	margin-top: 0rem;
	background-color: #B59283;
	border: 2px solid #B59283;
	border-top: 1px solid #717070;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1), 0px 5px 5px rgba(0,0,0,0.1);
	animation: slide 0.5s ease-in;
}

@keyframes slide {
	from {
		transform: translateY(-50px);
		transform-origin: top;
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.logo-container {
	color: rgb(255, 255, 255);
	width: 30%;
	height: 5vh;
	text-align: justify;
	padding-bottom: 2rem ;
	padding-bottom: 9rem;
}
.logo {
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	width: 100%;
	letter-spacing: 4px;
	animation: animateLogo 3s ease;
}
@keyframes animateLogo {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	margin: auto;
}
header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 1rem;
	transition: transform 1s ease;
}
nav ul li {
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 30px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
	animation: animateNavs 1s ease-in;
}
@keyframes animateNavs {
	from {
		opacity: 0;
		transform: translateX(20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

nav ul li a {
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-shadow: 0px 3px 3px rgba(0,0,0,0.9);
}
ul li:hover a {
	color: #2C9AB7;
}

/* Hero Section */
.hero {
    background: url(/images/img-03.jpg);
    background-position: center;
    background-size: cover;
	width: 100%;
    min-height: 88vh;
    font-family: 'Changa', sans-serif;
}

.hero-about-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
	position: relative;
	font-family: 'Changa', sans-serif;
}

.hero-text {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3rem;
	/* text-shadow: 0px 3px 3px rgba(0,0,0,0.9); */
}

.hero_header {
	color: rgb(0, 0, 0);
	letter-spacing: 4px;
	animation: animateHeroHeader 2s alternate;
}
@keyframes animateHeroHeader {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translatY(0);
	}
}

.light {
	font-weight: bold;
	color: #B59283;
}
.tagline {
	text-align: center;
	color: rgb(0, 0, 0);
	margin-top: 4px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	animation: animateTagline 2s alternate;
}
@keyframes animateTagline {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translatX(0);
	}
}

.hero-text button {
	animation: animateHeroButton 2s alternate;
}
@keyframes animateHeroButton {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* About-container */
.about-container{
    min-height: 90vh;
    padding: 5rem;
}
.about-container .about-title {
    margin-bottom: 2rem;
}
.about-text-container {
    display: grid;
}

/* testimonials-container */
.testimonials-container {
    min-height: 50vh;
    padding: 5rem;
}
.testimonials-container .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
}

.testimonials {
    padding: 2rem;
}

/* Subscribe section */
.subscribe {
    min-height: 30vh;
    padding: 4rem;
}

/* Services-section */
.services-container {
    min-height: 100vh;
    padding: 5rem;
    /* background-color: rosybrown; */
}
.services-container .title {
    margin-bottom: 4rem;
    text-align: center;
}

.services-text-container {
    display: grid;
}



/* Localisation */
.localisation {
	width: 100%;
	height: 70vh;
}

/* Footer Section */
footer {
	background-color: #717070;
	border-top: 2px solid #717070;
	display: flex;
	flex-direction: column;
}

footer ul {
	list-style: none;
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

footer ul li a {
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	margin-bottom: 0rem;
	padding-bottom: 20px;
}
